/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

i {
    color: white;
}

/* Header */
header {
    display: flex;
    justify-content: flex-end;
    height: 30px;
    background-color: aqua;
}

.speaker, .header-icon {
    background-color: gray;
    /* color: white; */
    padding: 5px;
    border-radius: 5px;
}

.speaker {
    margin-right: 5px;
}

/* Main */
main {
    height: calc(100vh - 95px);
    border: 4px solid red;
    background-color: black;
    overflow-y: auto;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background-color: green;
}

.blocco-sx {
    width: 15%;
    /* debug */
    background-color: aqua;
}

nav {
    width: 55%;
    /* debug */
    background-color: aqua;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style-type: none;
    text-align: center;
    padding: 5px;
}

footer i {
    font-size: 25px;
}

#end-meeting {
    color: red;
    background-color: gray;
}



